# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Archivos temporales
output/*
!output/.gitkeep

# Archivos de Excel
*.xlsx
!requirements.txt

# Backups
cruce1/backups/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store